In [20]:
## 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
## Then, use the interactive interpreter to import the zoo module and call its hours() function.
## def hours():
##    print('Office hours 9 - 5 daily')
## saved in same directory as jupyter notebook

In [ ]:
import zoo

In [21]:
zoo.hours()

Office hours 9 - 5 daily

In [22]:
## 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [23]:
import zoo as menagerie

In [24]:
menagerie.hours()

Office hours 9 - 5 daily

In [ ]:
## 16.4 Use the sqlite3 module to create a SQLite database called books.db and
## a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('books.db')

In [3]:
curs = conn.cursor()

In [4]:
curs.execute('''CREATE TABLE books
    (title VARCHAR PRIMARY KEY,
     author VARCHAR,
     year INTEGER)''')

OperationalError: table books already exists

In [94]:
curs.execute('INSERT INTO books VALUES("The Road less Travelled", "Mark Twain", 1978)')

OperationalError: database is locked

In [ ]:
curs.execute('SELECT * FROM books')

In [92]:
rows = curs.fetchall()

In [93]:
print(rows)

[]

In [ ]:
## 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
##As in 16.6, select and print the title column from the book table in alphabetical order.

In [84]:
import sqlalchemy as sa

In [85]:
conn2 = sa.create_engine('sqlite:///books.db')

In [86]:
rows2 = conn2.execute('SELECT * FROM books')

In [87]:
for row in rows2:
    print(row)

In [88]:
print(rows2)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x0000025C08730A50>

In [89]:
print(rows2.fetchall())

[]